.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-navbar {
  margin-top: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  /* margin-left: 11px; */
  /* margin: 6px;*/
}

.header-navbar button {
  width: 100px;
  padding: 10px;
  color: white;
  background-color: #f48686;
  font-size: 17px;
  border-radius: 10px;
  font-weight: 700px;
  border: none;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
.mycarts {
  color: hsl(11deg 100% 42%);
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 8px;
}

.main-head {
  background-color: beige;
  width: 100%;
  margin-top: -8px;
}

.dashboard-container {
  /* width: 63%; */
  /* display: grid; */
  /* justify-content: center; */

  /* display: flex;
}

.products-container{
    /* display: flex; */
  background: white;
  align-items: center;
}

/* .product-list {
  max-width: 1200px;
  margin-top: 60px;
} */

.product {
  box-shadow: 0 6px 16px rgb(52 105 203 / 16%);
  border-radius: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  position: relative;
  width: calc(100% / 6 - 40px);
  /* height: 50%; */
  margin-right: 45px;
  cursor: pointer;
  padding: 30px;
  /* margin-top: 10%; */
  /* max-height: 500px; */
  height: 650px;
  /* height: 500px; */
  overflow: hidden;
  overflow: hide;
  /* margin-bottom: 27px; */
  margin-top: 30px;
  display: inline-block;
}

.product img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.product-detail {
  display: flex;
}

.product-image {
  box-shadow: 0 6px 16px rgb(52 105 203 / 16%);
  border-radius: 10px;
  width: -3%;
  /* width: 571px; */
  /* height: 300px; */
  /* margin: auto; */
  width: 30%;
}

.product-image img {
  width: 70%;
  /* display: flex; */
  /* height: 20%; */
  height: 90%;
  width: 90%;
  margin: auto;
}

.product-text {
  width: 70%;
  margin: auto;
}

.title {
  color: hsl(11deg 100% 62%);
  width: 90%;
  /* margin-top: 84px; */
  /* padding: 60px; */
  margin-top: 50%;
  height: 100px;
}

.desc {
  max-height: 200px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
}

.cat {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cat button {
  background: black;
  width: 87%;
  padding: 14px;
  border-radius: 10px;
  color: white;
  font-size: 19px;
  font-weight: bold;
  font-weight: 739px;
  /* margin-bottom: 67px; */
}

body {
  margin: 0;
  font: 600 16px/18px "Open Sans", sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  max-width: 700px;
  min-height: 550px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(40, 57, 101, 0.9);
}
.login-html .login-html {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
}
.login-form {
  min-height: 400px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-form .group .button {
  background: #1161ee;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}
.text-danger {
  text-align: left;
  margin-top: 10px;
  padding: 5px;
  color: red;
}
.image {
  width: 200px;
  max-height: 100px;
}
.product-value button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: orange;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  width: 50%;
  text-transform: uppercase;
  margin-top: 20px;
}

.product-value button:hover{
  box-shadow: 0 6px 16px rgb(52 105 203 / 16%);
  opacity: 0.7;
}

.product-cat{
  padding: 25px;
  /* margin-top: -51px; */
  font-size: 22px;
  text-transform: uppercase;
  color: red;
}

.product-title{
  font-size: 19px;
    /* margin: 50px; */
    padding: 25px;

}

.product-desc{
  font-size: 19px;
    font-weight: 300;
    padding: 50px;
}